@import '../../styles.module.scss';

.detail {
  width: 80%;
}

.text {
  text-transform: uppercase;
  font-size: 20px;
}

.textContainer {
  font-weight: 700;
  color: $white;
  background-color: $midnightBlue;
  display: flex;
  align-items: center;
  padding: 0 20px;
  justify-content: space-around;
  & span {
    font-size: 30px;
  }
}

.button {
  border: none;
  height: 60px;
  text-transform: uppercase;
  color: $white;
  font-weight: 700;
}

.greenButton {
  font-size: 25px;
  background: $mountainMeadow;
  width: 70%;
}

.blueButton {
  background: $veniceBlue;
  width: 27%;
}

.buttonsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

