body {
  font-family: Montserrat;
  margin: 0;
}

.app {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

$white: #FFF;
$midnightBlue: #00355D;
$mountainMeadow: #17AA8D;
$veniceBlue: #0B548B;
$transparent: transparent;
